*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

body {
    background-color: #0a0a09;
    text-align: center;
  }
h1, h2, h3, a, p {
    color: #faebd7;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
li {
    color: antiquewhite;
    margin-left: 33.5em;
    margin-right: auto;
    width: fit-content;
}

img {
    max-width: 15%;
    height: auto;
  }